form {
    display: flex;
    align-items: center; 
}
#form input[type="text"] {
    font-size: 20px; 
}
.logo {
    width: 150px;
  
}
.image {
    display: flex;
    width: 300px;
    margin-left: auto;
  }

  #videos {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color: #fff;
    gap: 5px; 
    min-height: 40vh; 
}
  